h1 {
	color: red;
}
.p {
	width: 100px; 
	background-color: blue;
	color: white;
	margin-bottom: 100px;
}
span {
	color: red;
}
h2 {
	color: white;
	background-color: green;
}
.new {
	padding: 50px 50px 50px 50px;
}
.text {
	margin-left: 100px;
}
li {
	border: 1px solid black;
	font-size: 25px;
}
img {
	width: 150px;
}