body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d; 
	font-size: 15px;
	padding: 0;
	margin: 0; 
}
div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
.header {
	background: rgba(77,192,254,1);
	background: -moz-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(77,192,254,1)), color-stop (100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(135deg, rgba(77,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dc0fe', endColorstr='#3790d9', GradientType=1 );
	padding-top: 60px;
	color: #ffffff;
}
.wrapper {
	display: flex;
	justify-content: space-between;
}
.offer{
	width: 620px;
	margin-bottom: 210px; 
}
.h1 {
	margin-top: 140px;
	font-size: 37px;
	margin-bottom: 40px; 
}
.intro {
	font-size: 16px;
	width: 400px; 
	margin-bottom: 40px;
}
span{
	font-size: 59px;
}
.btn {
	font-family: 'Montserrat', sans-serif;
	color: #2e2a1b; 
	background: #ffd429; 
	display: block;
	width: 220px; 
	padding: 20px 0; 
	text-align: center; 
	text-decoration: none;
	transition: all 0.5s ease; 
}
.btn:hover {
	background: #e3ba14; 
}
.desktop {
	margin-top: 60px; 
	margin-bottom: 145px; 
}
.learn {
	padding-top: 100px;
	background: #ffffff;
	padding-bottom: 120px;
}
.title1 {
	text-align: center;
	margin-bottom: 70px;
	font-size: 30px;
}
.skills {
	display: flex;
	justify-content: space-between;
}
.icon {
	display: block;
	margin: auto; 
}
.skill-title {
	margin-top: 15px;
	text-align: center;
	font-size: 19px;
	margin-bottom: 15px;
}
.skill-text {
	text-align: center;
}
.mail {
	background-color: #efecf4;
	padding-top: 100px;
	padding-bottom: 100px;
} 
.mail-title {
	text-align: center;
	margin-bottom: 55px;
	font-size: 30px;
}
.form {
	width: 340px;
	margin: 0 auto;
}
.input {
	width: 340px; 
	border: 1px solid #bbbbbb;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	height: 48px;
	padding-left: 25px;
	margin-bottom: 15px;
}
.mail-btn {
	font-family: 'Montserrat', sans-serif;
	color: #2e2a1b; 
	background: #ffd429; 
	display: block;
	width: 340px; 
	padding: 20px 0; 
	text-align: center; 
	text-decoration: none;
	transition: all 0.5s ease; 
}
.mail-btn:hover {
	background: #e3ba14;
}
.footer {
	background: #164d7a;
	padding-top: 61px;
	padding-bottom: 61px;
}
.footer-text {
	font-size: 14px; 
	color: #ffffff;
	text-align: center;
}